/* Quick Reply */
:root.sticky-qr #quick-reply {
    display: block;
    top: auto !important;
    bottom: 0;
}

:root.sticky-qr.ss-sidebar #quick-reply {
    left: auto !important;
    right: 0 !important;
}

:root.sticky-qr.ss-leftsidebar #quick-reply {
    left: 0 !important;
    right: auto !important;
}

:root.sticky-qr #qrbody {
    resize: vertical;
    max-height: 50vh;
    height: 130px;
}

:root.sticky-qr #selectedDiv,
#selectedDivQr {
    display: inline-flex;
    overflow: scroll hidden;
    max-width: 300px;
}

#qrbody {
    min-width: 300px;
}

:root.bottom-header #quick-reply {
    bottom: 28px !important;
}

:root.fade-qr #quick-reply {
    padding: 0;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

:root.fade-qr #quick-reply:hover,
:root.fade-qr #quick-reply:focus-within {
    opacity: 1;
}

.floatingMenu {
    padding: 0 !important;
}

#qrFilesBody {
    max-width: 300px;
}

/* Unread Line */
#unread-line {
    height: 2px;
    border: none !important;
    pointer-events: none !important;
    background-image: linear-gradient(to left, rgba(185, 185, 185, 0.2), var(--text-color), rgba(185, 185, 185, 0.2));
    margin: -3px auto 0 auto;
    width: 60%;
}

/* Banner */
:root.disable-banner #bannerImage {
    display: none;
}

/* Banner Right Sidebar */
:root.ss-sidebar #bannerImage {
    width: 19rem;
    right: 0;
    position: fixed;
    top: 26px;
}

:root.ss-sidebar.bottom-header #bannerImage {
    top: 0 !important;
}

/* banner Left Sidebar */
:root.ss-leftsidebar #bannerImage {
    width: 19rem;
    left: 0;
    position: fixed;
    top: 26px;
}

:root.ss-leftsidebar.bottom-header #bannerImage {
    top: 0 !important;
}

/* Posts */
.quoteTooltip {
    z-index: 999;
}

.nestedQuoteLink {
    text-decoration: underline dashed !important;
}

:root.hide-stub .unhideButton {
    display: none;
}

.quoteTooltip .innerPost {
    overflow: hidden;
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.19);
}

/* Custom class added through the userscript for backlinks */
.reply-inlined {
    text-decoration: underline dashed !important;
    text-underline-offset: 2px;
}

.target-highlight {
    background: var(--marked-color);
    border-color: var(--marked-border-color);
    color: var(--marked-text-color);
}

/* (You) Replies */
:root.highlight-you .innerPost:has(> .postInfo.title > .youName) {
    border-left: dashed #68b723 3px;
}

:root.highlight-you .innerPost:not(:has(> .postInfo.title > .youName)):has(.divMessage > .quoteLink.you) {
    border-left: solid #dd003e 3px;
}

/* Filename & Thumbs */
.originalNameLink {
    display: inline;
    overflow-wrap: anywhere;
    white-space: normal;
}

.multipleUploads .uploadCell:not(.expandedCell) {
    max-width: 215px;
}

.imgExpanded,
video {
    max-height: 90vh !important;
    object-fit: contain;
    width: auto !important;
}

/* Not sure what this is about, guess we'll find out */
.postCell::before {
    display: inline !important;
    height: auto !important;
}